#landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 1.6rem;
}

#landing-container img {
    width: 36rem;
    height: 36rem;
    align-self: center;
}

#landing-container div {
    align-self: center;
    margin: 0rem 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-container div h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}


@media (max-width: 1190px), (max-height: 600px) {
    #landing-container {
        margin-bottom: 20px;
        height: auto;
    }
}

@media (max-width: 1190px) {
    #landing-container {
        margin-bottom: 20px;
        height: auto;
    }
    #landing-container div button {
        display: none;
    }
}

@media (max-width: 760px) {
    #landing-container header {
        padding: 2rem 5rem 0rem 5rem;
    }
    #landing-container img {
        width: 29rem;
        height: 29rem;
    }
}
