#register-container {
    display: flex;
    height: 100vh;
    color: black;
    font-size: 1.6rem;
    background-color: #F6BD60;
}

#register-container .form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#register-container .form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 2rem;
}

#register-container .form form h3 {
    align-self: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#register-container .form form input:nth-child(2), #register-container .form form input:nth-child(3) {
    margin-bottom: 2rem;
}

#register-container .form form p {
    margin-bottom: 3rem;
}

#register-container .form form p a {
    color: black;
    margin-left: 0.4rem;
    text-decoration: none;
}

#register-container .form form p a:hover {
    text-decoration: underline;
}

#register-container .info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#register-container .info img {
    height: 60rem;
    width: 60rem;
    z-index: 1;
}

#register-container .info .teste {
    width: 35rem;
    content: "";
    height: 35rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 12%;
}



@media (max-height: 600px) {
    #register-container {
        height: auto;
    }
}

@media (max-width: 1050px) {
    #register-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: white;
        margin-bottom: 50px;
    }
    #register-container .form {
        width: 100%;
    }
    #register-container .info {
        display: none;
    }
}